.layout {
	position: relative;
	margin-top: 5rem;
	width: 100%;
	min-height: 100vh;
}

.categoryName {
	font-size: 42px;
	font-weight: 400;
}

.cards {
	margin-top: 5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
    gap: 1rem;
}
