.body {
	height: 80px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.links {
	list-style: none;
	display: flex;
	height: 100%;
}

.link {
	text-decoration: none;
	display: inline-block;
	color: #000;
	font-weight: 600;
	font-style: normal;
	font-size: 16px;
	text-transform: uppercase;
	/* height: 100%; */
	padding: 32px;
	transition: color 0.3s;
}

.link:hover,
.active {
	color: #5ece7b;
	border-bottom: 2px solid #5ece7b;
}

.linkContainer {
	height: 100%;
	text-align: center;
}

.cartArea {
    position: relative;
	display: flex;
}

.cart {
    border: none;
    background: none;
}

.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	/* background-color: #fff; */
	margin-right: 38px;
}

select option {
	background-color: white;
}
